/// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(12, 51, 83, 0.365);
}

.edu-props-container {
  width: 85%;
  margin: 0 auto;
  margin: 3rem auto;
}

.edu-square{
  width: 200px;
  aspect-ratio: 1;
  background-color: rgba(7, 30, 49, 0.365);
  border: 1px solid black;
}

.edu-active{
  background-color: rgba(84, 114, 139, 0.365);
}