/// Local variabel :D
$_container-name-header: header;
$_grid-max-width: 46.625rem;

/// Menu Navigation
/// Semi Ai generated, using Frame-motion
.header-menu {
  & {
    @apply flex-1;

    /// Mobile Phone
    @apply @w-medium/header:block
   @w-medium/header:hidden;

    /// Navigation Items
    &__navigation {
      @apply flex items-center list-none;

      &__li-items {
        @apply text-theme-light-navigation dark:text-theme-dark-navigation
        cursor-pointer transition-all duration-200;
        will-change: color;

        &:hover {
          @apply text-theme-light-primary cursor-pointer;
        }

        &:active {
          @apply text-theme-light-primary brightness-90;
        }

        &:focus-visible {
          @apply text-grey-600 outline-none;
        }
      }
    }
  }
}
