/// Local variabel :D
$_container-name-header: header;
$_grid-max-width: 46.625rem;

/// Menu Navigation
/// Semi Ai generated, using Frame-motion
.header-menu {
  & {
    @apply flex-1;

    /// Mobile Phone
    @apply @mobile/header:hidden;

    /// Desktop
    @apply @xlarge/header:block;

    /// Navigation Items
    &__navigation {
      @apply flex items-center list-none
      text-theme-light-section-color
      dark:text-theme-dark-section-color;

      &__li-items {
        @apply text-theme-light-navigation cursor-pointer transition-all duration-200;
        will-change: color;

        &:hover {
          @apply text-theme-light-primary cursor-pointer;
        }

        &:active {
          @apply text-theme-light-primary brightness-90;
        }

        &:focus-visible {
          @apply text-grey-600 outline-none;
        }
      }
    }
  }
}
