@use "sass:map";
@use "sass:meta";
@use "../layout" as l;
@use "../abstracts" as a;

/// =============================================================================
/// Header & Navigation
/// =============================================================================
/// Local variabel :D
$_container-name-header: header;
$_grid-max-width: 46.625rem;

.header {
  /// Basic font, height and flex
  @apply font-SemiBold flex items-center h-[4.75rem];

  /// Remove the spacing to mobile link, because the text Dark-mode is out of space
  @apply @w-small/header:pr-sm p-sm;

  // Logo
  &__logo {
    @apply mr-[3em] w-[7.625em] h-[2.75em] bg-contain bg-no-repeat bg-center;
  }

  &__nav-group {
    /// Added this to align with same height
    @apply flex justify-center items-center;

    /// Tablets & Smaller laptops
    @apply @w-medium/header:flex-1 justify-end pr-sm;

    /// Mobile devices
    @apply @w-mobile/header:pr-0 flex-1;

    &__text-span {
      @apply pr-sm text-theme-light-forms
      dark:text-theme-dark-forms text-t-m font-Bold;
      @apply transition-all duration-500;
      /// Hide on smaller screens (below medium)
      @apply hidden;

      /// Show on medium and larger screens
      @apply @w-medium/header:flex w-[6.2em];
    }

    .button-primary {
      @apply @w-xlarge-1/header:flex @w-medium/header:flex @w-mobile/header:hidden;
    }
  }
}
