@use "sass:map";
@use "sass:meta";
@use "../layout" as l;
@use "../abstracts" as a;

/// =============================================================================
/// Header & Navigation
/// =============================================================================
/// Local variabel :D
$_container-name-header: header;
$_grid-max-width: 46.625rem;

.header {
  /// Basic font, height and flex
  @apply font-SemiBold flex items-center h-[4.75rem];

  /// Remove the spacing to mobile link, because the text Dark-mode is out of space
  @apply @small/header:pr-sm;

  // Logo
  &__logo {
    @apply mr-[3em] w-[7.625em] h-[2.75em] bg-contain bg-no-repeat bg-center;
    background-image: var(--logo-image);
  }

  &__nav-group {
    /// Added this to align with same height
    @apply flex justify-center items-center;

    /// Tablets & Smaller laptops
    @apply @medium/header:flex-1 justify-end pr-sm;

    /// Mobile devices
    @apply @mobile/header:pr-0 flex-1;

    &__text-span {
      @apply pr-sm text-theme-light-forms
      dark:text-theme-dark-forms text-t-m font-Bold;
      @apply transition-all duration-500;
      /// Hide on smaller screens (below medium)
      @apply hidden;

      /// Show on medium and larger screens
      @apply @medium/header:block;
    }

    &__btn-sign-in {
      @apply @xlarge/header:block @medium/header:hidden @mobile/header:hidden;
    }
  }
}
