@use "sass:map";
@use "sass:meta";
@use "../layout" as l;
@use "../abstracts" as a;
/// =============================================================================
/// Skeleton Structure
/// =============================================================================
/// @name skeleton-wrapper
/// @group Layout
///
/// This is our core, an grid that has 3 rows and 1 colum. This is where we also
/// We are using an mixin to create the grid and functions that create an list
///

// Add this at a global level (top of file or in your base styles)
*,
::before,
::after {
  @apply transition-colors duration-500;
}

.skeleton-wrapper {
  @include l.grid-row-colum(
    map.get($map: a.$display-type, $key: "grid"),
    a.create-list(auto),
    a.create-list(auto, 2fr, auto)
  );

  /// Basic Settings
  & {
    height: 100dvh;
    margin: 0 auto;

    /* https://sass-lang.com/documentation/style-rules/declarations/ */
    font-family: #{meta.inspect(a.$font-family)};
  }
}

/// =============================================================================
/// Header & Navigation
/// =============================================================================
///
/// Local variabel :D
$_container-name-header: header;
$_grid-max-width: 46.625rem;

/// Setting Background color
/// and sets the container name for container query /responsive
.header-wrapper {
  container-type: inline-size;
  container-name: header;
  background: radial-gradient(
    125% 125% at 50% 110%,
    rgba(99, 102, 241, 0.1) 0%,
    rgba(218, 70, 239, 0.05) 42%,
    rgba(241, 244, 253, 0.07) 83%
  );
  @apply bg-theme-light-bg-color dark:bg-theme-dark-bg-color min-w-mobile ;
}

.header,
.hero-section {
  /// Default/Mobile styles
  @apply justify-between w-full px-[0.625em] m-auto min-w-[24.375rem] w-full max-w-desktop

  /// Desktop breakpoint
  @w-xlarge-1/header:max-w-desktop px-[2.5em]

  ;
}
