@use "sass:map";
@use "sass:meta";
@use "../layout" as l;
@use "../abstracts" as a;

*,
::before,
::after {
  @apply transition-colors duration-500;
}

.skeleton-wrapper {
  @include l.grid-row-colum(
    map.get($map: a.$display-type, $key: "grid"),
    a.create-list(auto),
    a.create-list(auto, 2fr, auto)
  );

  /// Basic Settings
  @apply w-dvw m-auto;
}

/// =============================================================================
/// Header & Navigation
/// =============================================================================
///
/// Local variabel :D
$_container-name-header: header;
$_grid-max-width: 46.625rem;

/// Setting Background color
/// and sets the container name for container query /responsive
.header-wrapper {
  container-type: inline-size;
  container-name: header;
  background: radial-gradient(
    125% 125% at 50% 110%,
    rgba(99, 102, 241, 0.1) 0%,
    rgba(218, 70, 239, 0.05) 42%,
    rgba(241, 244, 253, 0.07) 83%
  );
  @apply bg-theme-light-bg-color dark:bg-theme-dark-bg-color overflow-hidden ;
}

.header,
.hero-section {
  /// Default/Mobile styles
  @apply w-full max-w-desktop m-auto;

  /// Large Desktop, we want some spacing so not the content gets to the limit of the browser
  @include l.container-query(a.$container-header, 0, a.$bp-xlarge-2) {
    @apply px-14;
  }
    /// Tablet Mode
  @include l.container-query(a.$container-header, 0, a.$bp-xlarge-1) {
    @apply px-40;
  }
}
