@use "sass:map";
@use "sass:meta";
@use "../../layout" as l;
@use "../../abstracts" as a;

/// Local Vars
$_faq-grid-max-rows: 4;

.faq {
  /// Setting some PAdding
  @apply pt-[7.625em] pb-[6.8125em];

  /// Re arranging grid för desktop
  @include l.grid-row-colum(
    map.get($map: a.$display-type, $key: "grid"),
    /// Colum here giddy
    a.create-list(34.5%, auto),
    /// Row here giddy
    a.create-list(auto),
    $_faq-grid-max-rows
  );

  @apply gap-y-40 gap-x-[8.375em];

  /// Large Screen
  @include l.container-query(a.$container-main, 0, a.$bp-xlarge-1) {
    /// Lets create the grid! for Desktop
    $_faq-grid-max-rows: 2;

    /// Setting some PAdding
    @apply pt-63 pb-lg;
    /// Changing Grid
    $_faq-grid-max-rows: 3;
    @include l.grid-row-colum(
      map.get($map: a.$display-type, $key: "grid"),
      /// Colum here giddy
      a.create-list(auto),
      /// Row here giddy
      a.create-list(auto),
      $_faq-grid-max-rows
    );
  }

  /// Table Screen
  @include l.container-query(a.$container-main, 0, a.$bp-medium) {
    @apply pt-[3.25em] pb-[2.625em];
  }

  /// Now I will try to use Mobile first Approach
  /// Starting with container queries
  /// Header with some text
  &__faq-header {
    @apply m-auto;
    @include l.grid-position(1, 1, 1, 1);

    /// Mobile devices
    @include l.container-query(a.$container-main, 0, a.$bp-medium) {
      @apply pt-[3.25em];
      & p:first-of-type {
        @apply pt-[2.125em] pb-[3.5625em];
      }
      & h2 {
        @apply text-[1.54375rem];
      }
    }

    /// Bigger Tablets larger Devices
    @include l.container-query(a.$container-main, 0, a.$bp-xlarge-1) {
      @include l.grid-position(1, 1, 1, 1);

      @apply pt-[3.75em] text-center max-w-416;

      & p:first-of-type {
        @apply py-[3rem];
      }
    }

    & h2 {
      @apply pb-[2.875rem] text-theme-light-display-headings
 dark:text-theme-dark-display-headings;
    }
    & p {
      @apply text-theme-light-forms dark:text-theme-dark-forms;
    }
  }

  /// Accordion FAQ
  &__faq-accordion {
    ///----------- Responsive START -----------
    /// Mobile Devices
    /// We are setting container padding parent container
    /// for FAQ
    @include l.grid-position(2, 2, 1, 4);
    @apply p-xs flex flex-col gap-md;

    /// Table Screen
    @include l.container-query(a.$container-main, 0, a.$bp-medium) {
      @apply px-[0.8125em] gap-0;
    }

    /// Tablet to Infinite
    @include l.container-query(a.$container-main, a.$bp-medium) {
      /// We are setting rounded corners of all main containers below faq-accordion
      > div[class*="__container"] {
        @apply rounded-lg;
      }
    }

    /// Large Screens
    @include l.container-query(
      a.$container-main,
      a.$bp-xlarge-1,
      a.$bp-xlarge-1
    ) {
      /// Adding some padding to left and right side in mobile version
      @include l.grid-position(1, 1, 2, 2);
      /// Getting Gap in Desktop version between Accordion items
      @apply p-xs gap-md;
    }

    /// Tablet to large screen
    @include l.container-query(
      a.$container-main,
      a.$bp-medium,
      a.$bp-xlarge-1
    ) {
      @apply p-xs;
    }

    &__container {
      ///----------- Starting CSS -----------
      @apply flex-col;

      ///----------- Responsive START -----------
      /// Mobile Devices to Tablet Devices
      @include l.container-query(a.$container-main, 0, a.$bp-medium) {
        @apply border border-solid border-theme-light-cards-border dark:border-theme-dark-cards-border;

        /// Adding Rounded corner only on the first one item
        &--border-radius-top {
          @apply rounded-tl-lg rounded-tr-lg;
        }
        &--border-radius-bottom {
          @apply rounded-bl-lg rounded-br-lg;
        }

        /// Title Styling
        &__title {
          @apply p-md shadow-inner-border-bottom bg-theme-dark-cards dark:bg-theme-dark-cards;
        }
        &__content p {
          @apply p-md;
        }
      }

      /// From Tablet to unlimited screen size
      /// This one starts from medium without any max container with
      /// Basically we could just put all code here if we don't need some
      /// global css
      @include l.container-query(a.$container-main, a.$bp-medium) {
        @apply bg-theme-light-cards dark:bg-theme-dark-cards;

        /// Adding Shadow
        @include a.box-shadow(
          false,
          (0 0.275em 0.75em 0em #131022 0.06),
          (0 0.125em 0.4em 0em #131022 0.03)
        );

        &--active {
          @apply border border-solid border-theme-light-cards-border-active dark:border-theme-dark-cards-border-active
          rounded-lg;
        }

        &__content p {
          @apply px-md pb-md;
        }

        &__title {
          /// Flex Settings
          @apply gap-md py-sm rounded-lg bg-none px-md bg-theme-light-cards
        dark:bg-theme-dark-cards;
        }
      }
      ///----------- Responsive END -----------

      &__content {
        @apply w-full;
      }
      /// When Container is open we want an dark border in
      /// dark mode This need to be above!!
      &--active {
        @apply border border-solid border-theme-light-cards-border-active dark:border-theme-dark-cards-border-active;
      }

      /// Global CSS for all Devices
      &__title {
        /// Flex Settings
        @apply w-full justify-between  items-center rounded-none;
        p {
          @apply pr-6;
        }
        p:first-of-type {
          @apply font-SemiBold text-theme-light-display-headings dark:text-theme-dark-display-headings;
        }

        /// Adding some styles colors when our accordion is active
        &__icon--active {
          @apply text-white;
        }

        &__button {
          /// Need to add padding and dimension, button size got
          /// crewed in Mobile Iphone browser
          @apply p-[1.25em] w-[2.5em] h-[2.5em]
          bg-theme-light-icon-bg-color dark:bg-theme-dark-icon-bg-color;
          /// Applying Shadow :)
          @apply shadow-primary-glow;

          &--active {
            @apply bg-theme-light-primary dark:bg-theme-dark-primary;
          }
        }
      }
      &__content p {
        @apply text-theme-light-forms dark:text-theme-dark-forms
        font-Regular text-t-s;
      }
    }
  }
}
